src/app/product-card/product-card.component.pug


.card
    img.card-img-top(src='{{ product.image }}')
    .card-block
        h4.card-title {{ product.name }}
        p.card-text Description
        p.card-text {{ product.price }},-
        button.btn.btn-primary([@addToCart]="clicked", (click)='addToCart(product)') {{ btnText }}

src/app/product-card/product-card.component.html
<div class="card"><img class="card-img-top" src="{{ product.image }}"/><div class="card-block"><h4 class="card-title">{{ product.name }}</h4><p class="card-text">Description</p><p class="card-text">{{ product.price }},-</p><button class="btn btn-primary" [@addToCart]="clicked" (click)="addToCart(product)">{{ btnText }}</button></div></div>
