src/app/navbar/navbar.component.pug

header.navbar.fixed-top.navbar-toggleable-md.bd-navbar.navbar-inverse.bg-inverse
  nav.container
    .d-flex.justify-content-between
      a.navbar-brand(routerLink='/', (click)='isCollapsed = true') Webstore
      button.navbar-toggler((click)='isCollapsed = !isCollapsed', type='button', aria-controls='navbar', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .collapse.navbar-collapse([ngbCollapse]="isCollapsed")
      ul.nav.navbar-nav.mr-auto
        li.nav-item(routerLinkActive='active')
          a.nav-link(routerLink='/products', (click)='isCollapsed = true')
      ul.nav.navbar-nav.float-xs-right
        li.nav-item.active
          a.nav-link([@sizeChanged]="changed")
            i.fa.fa-shopping-cart(aria-hidden='true')
            span  {{ cartSize }}
        li.nav-item(*ngIf='cartSize > 0', routerLinkActive='active')
          a.nav-link(routerLink='/checkout', (click)='isCollapsed = true') Til kasse

src/app/navbar/navbar.component.html
<header class="navbar fixed-top navbar-toggleable-md bd-navbar navbar-inverse bg-inverse"><nav class="container"><div class="d-flex justify-content-between"><a class="navbar-brand" routerLink="/" (click)="isCollapsed = true">Webstore</a><button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" aria-controls="navbar" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button></div><div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed"><ul class="nav navbar-nav mr-auto"><li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/products" (click)="isCollapsed = true"></a></li></ul><ul class="nav navbar-nav float-xs-right"><li class="nav-item active"><a class="nav-link" [@sizeChanged]="changed"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span> {{ cartSize }}</span></a></li><li class="nav-item" *ngIf="cartSize &gt; 0" routerLinkActive="active"><a class="nav-link" routerLink="/checkout" (click)="isCollapsed = true">Til kasse</a></li></ul></div></nav></header>
