src/app/checkout-page/checkout-page.component.pug

spinner(*ngIf='loading')

.row
    .col-md-9
        h2 Handlevogn
        table.table.table-striped.table-bordered
            tbody
                tr
                    th
                    th(width='15%') Antall
                    th(width='20%') Pris
                    th(width='20%') Totalt
                    th(width='5%') Slett
                tr(*ngFor='let item of orderLines')
                    th {{ item.name }}
                    th
                        i.fa.fa-minus-circle((click)='subtractItem(item)')
                        =' '
                        span {{ item.quantity }}
                        =' '
                        i.fa.fa-plus-circle((click)='addItem(item)')
                    th {{ item.unitPrice | number:'1.2-2'}}
                    th {{ productTotal(item) | number:'1.2-2' }}
                    th
                        i.fa.fa-times-circle((click)='deleteItem(item)')
                tr
                    th(colspan='5')
                tr
                    th(colspan='3')
                        span Totalt
                    th {{ totalPrice | number:'1.2-2' }}
                    th

    .col-md-9
        h2 Leverings adresse
        .card
            form.row.card-block([formGroup]='deliveryForm')
                form-control(
                    *ngFor='let details of deliveryFormDetails',
                    class='{{ details.class }}',
                    [form]='deliveryForm',
                    [details]='details'
                )


    .col-md-9
        h2 Betaling
        .card
            form.row.card-block([formGroup]='cardForm')
                .col-lg-3.push-lg-9
                form-control(
                    *ngFor='let details of cardFormDetails',
                    class='{{ details.class }}',
                    [form]='cardForm',
                    [details]='details'
                )

.row
    .col-md-9
        button.btn.btn-success.btn-lg.btn-block((click)='createToken()') Gjennomfør kjøp

src/app/checkout-page/checkout-page.component.html
<spinner *ngIf="loading"></spinner><div class="row"><div class="col-md-9"><h2>Handlevogn</h2><table class="table table-striped table-bordered"><tbody><tr><th></th><th width="15%">Antall</th><th width="20%">Pris</th><th width="20%">Totalt</th><th width="5%">Slett</th></tr><tr *ngFor="let item of orderLines"><th>{{ item.name }}</th><th><i class="fa fa-minus-circle" (click)="subtractItem(item)"></i> <span>{{ item.quantity }}</span> <i class="fa fa-plus-circle" (click)="addItem(item)"></i></th><th>{{ item.unitPrice | number:'1.2-2'}}</th><th>{{ productTotal(item) | number:'1.2-2' }}</th><th><i class="fa fa-times-circle" (click)="deleteItem(item)"></i></th></tr><tr><th colspan="5"></th></tr><tr><th colspan="3"><span>Totalt</span></th><th>{{ totalPrice | number:'1.2-2' }}</th><th></th></tr></tbody></table></div><div class="col-md-9"><h2>Leverings adresse</h2><div class="card"><form class="row card-block" [formGroup]="deliveryForm"><form-control class="{{ details.class }}" *ngFor="let details of deliveryFormDetails" [form]="deliveryForm" [details]="details"></form-control></form></div></div><div class="col-md-9"><h2>Betaling</h2><div class="card"><form class="row card-block" [formGroup]="cardForm"><div class="col-lg-3 push-lg-9"></div><form-control class="{{ details.class }}" *ngFor="let details of cardFormDetails" [form]="cardForm" [details]="details"></form-control></form></div></div></div><div class="row"><div class="col-md-9"><button class="btn btn-success btn-lg btn-block" (click)="createToken()">Gjennomfør kjøp</button></div></div>
